# Dependency directories
/node_modules

# Environment variables file
.env

# Log files
*.log

# macOS specific files
.DS_Store

# Windows specific files
Thumbs.db

# IDE files
.vscode/
.idea/

# Optional: Uncomment the following lines if you're using npm package locks
# npm package locks
# package-lock.json
# yarn lockfile
# yarn.lock
